*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NewHotelBody{
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 20px;
  font-family: sans-serif;
}

.NewHotelHead{
  width: 80%;
  height: 70px;
  background: green;
  display: flex;
  align-items: center;
}

.ThreeSearchFlightSelectDiv.Hotel{
  width: 100%;
  height: 100%;
}

.NewHotelContent{
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  background: lightgrey;

}

.ThreeSearchSelectsHotel{
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
}

.NewHotelContentInput{
  width: 100%;
  height: 80px;
  background: #bd8f8f;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
}

.NewHotelContentInput select{
  width: 35%;
  height: 60%;
  font-size: 16px;
}

.NewHotelContentInput button{
  width: 20%;
  height: 60%;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.NewHotelContentInput button:hover{
  outline: none;
  background: #e4e4e4;
}

.NewHotelContentResults{
  width: 100%;
  height: 80%;
  background: grey;
  border-radius: 10px;
  padding: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  gap: 20px;
  -webkit-overflow-scrolling: touch; 
  scroll-behavior: smooth;
}
.NewHotelContentResults::-webkit-scrollbar{
  display: none;
}

.NewHotelResultItem1{
  width: 90%;
  height: 180px;
  border-radius: 5px;
  border: 1px solid #000;
  display: flex;
  flex: 0 0 auto;
}

.NewHotelResultItem1Left{
  width: 70%;
  height: 100%;
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid #000;
  padding: 10px;
}

.NewHotelResultItem1ImgDiv{
  width: 35%;
  height:100%;
  background: #000;
  border-radius: 5px;
}
.NewHotelResultItem1ImgDiv img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.NewHotelResultItem1Desc{
  width: 62%;
  height: 100%;
}

.NewHotelResultItem1DescTop{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.NewHotelResultItem1DescTop span span{
  text-transform: capitalize;
  width: 100%;
  height: 50%;
  
}
.NewHotelResultItem1DescTop h1{
  width: 100%;
  height: 50%;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
}
.NewHotelResultItem1DescTop p{
  height: 50%;
  width: 100%;
  font-size: 18px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

.NewHotelResultItem1DescDown{
  width: 100%;
  height: 30%;
  display: flex;
}
.NewHotelResultItem1DescDown p{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: capitalize;
}

.NewHotelResultItem1Right{
  width: 30%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NewHotelResultItem1RightTop{
  width: 100%;
  height: 70%;
}

.NewHotelResultItem1RightDown{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NewHotelResultItem1Right button{
 width: 70%;
 height: 90%;
 cursor: pointer;
 border: none;
 border-radius: 7px;
 font-size: 16px;
}
.NewHotelResultItem1Right button:hover{
 background: #e5e0e0;
 cursor: pointer;
}

.NewHotelBody .CancelSearchBtn{
  width: 150px;
  height: 45px;
  cursor: pointer;
  font-size: 16px;
  background: rgb(191, 45, 45);
  border-radius: 5px;
  border: none;
  color: #fff;
}
.NewHotelBody .CancelSearchBtn:hover{
  background-color: red;
}

.NewHotelBtns{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media only screen and (max-width: 428px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .NewHotelBody{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    margin-top: 90px;
    gap: 30px;
  }
  
  .NewHotelHead{
    width: 80%;
    height: 10%;
    background: green;
    display: flex;
    align-items: center;
    border-radius: 5px;
  }
  
  .NewHotelContent{
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }
  
  .NewHotelContentInput{
    width: 100%;
    height: 150px ;
    background: red;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    
  }
  
  .NewHotelContentInput select{
    width: 100%;
    height: 45%;
    font-size: 16px;
  }
  
  .NewHotelContentInput button{
    width: 100%;
    height: 45%;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  .NewHotelContentInput button:hover{
    outline: none;
    background: #e4e4e4;
  }
  
  .NewHotelContentResults{
    width: 100%;
    height: 80%;
    background: grey;
    border-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    gap: 20px;
    -webkit-overflow-scrolling: touch; 
    scroll-behavior: smooth;
  }
  .NewHotelContentResults::-webkit-scrollbar{
    display: none;
  }
  
  .NewHotelResultItem1{
    width: 90%;
    height: 180px;
    border-radius: 5px;
    border: 1px solid #000;
    display: flex;
    flex: 0 0 auto;
  }
  
  .NewHotelResultItem1Left{
    width: 70%;
    height: 100%;
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid #000;
    padding: 10px;
  }
  
  .NewHotelResultItem1ImgDiv{
    width: 35%;
    height:100%;
    background: #000;
    border-radius: 5px;
  }
  .NewHotelResultItem1ImgDiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .NewHotelResultItem1Desc{
    width: 62%;
    height: 100%;
  }
  
  .NewHotelResultItem1DescTop{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .NewHotelResultItem1DescTop span span{
    text-transform: capitalize;
    width: 100%;
    height: 50%;
    
  }
  .NewHotelResultItem1DescTop h1{
    width: 100%;
    height: 50%;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
  }
  .NewHotelResultItem1DescTop p{
    height: 50%;
    width: 100%;
    font-size: 18px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
  }
  
  .NewHotelResultItem1DescDown{
    width: 100%;
    height: 30%;
    display: flex;
  }
  .NewHotelResultItem1DescDown p{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
  }
  
  .NewHotelResultItem1Right{
    width: 30%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .NewHotelResultItem1RightTop{
    width: 100%;
    height: 70%;
  }
  
  .NewHotelResultItem1RightDown{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .NewHotelResultItem1Right button{
   width: 70%;
   height: 90%;
   cursor: pointer;
   border: none;
   border-radius: 7px;
   font-size: 16px;
  }
  .NewHotelResultItem1Right button:hover{
   background: #e5e0e0;
   cursor: pointer;
  }
  
  .NewHotelBody .CancelSearchBtn{
    width: 150px;
    height: 45px;
    cursor: pointer;
    font-size: 16px;
    background: rgb(191, 45, 45);
    border-radius: 5px;
    border: none;
    color: #fff;
  }
  .NewHotelBody .CancelSearchBtn:hover{
    background-color: red;
  }
}