
/* TEMPLATE FOR STYLINGS */

/* Media Query Styling For Desktop Device */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ServicesBody{
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ServicesWrapper{
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ServicesHeader{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00B4D8;
}

.ServicesBox{
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;

  /* gap: 20px; */
  /* flex-direction: column; */
}

.ServicesBoxWrap{
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #000; */
  border-radius: 10px;

}

.ServiceItem1Box{
  width: 22%;
  height: 98%;
  /* background: #ffffff; */
  display: flex;
  align-items: start;
  border-radius: 10px;
  transition: all 0.5s;
}
.ServiceItem1Box:hover{
  width: 22.5%;
  height: 100%;
  /* background: #ffffff; */
  display: flex;
  align-items: start;
  border-radius: 10px;
}

.ServiceItem2Box{
  width: 22%;
  height: 98%;
  /* background: #ffffff; */
  display: flex;
  align-items: end;
  transition: all 0.5s;
}
.ServiceItem2Box:hover{
  width: 22.5%;
  height: 100%;
  /* background: #ffffff; */
  display: flex;
  align-items: end;
}
.ServiceItem3Box{
  width: 22%;
  height: 98%;
  /* background: #ffffff; */
  display: flex;
  align-items: start;
  transition: all 0.5s;
}
.ServiceItem3Box:hover{
  width: 22.5%;
  height: 100%;
  /* background: #ffffff; */
  display: flex;
  align-items: start;
}
.ServiceItem4Box{
  width: 22%;
  height: 98%;
  /* background: #ffffff; */
  display: flex;
  align-items: end;
  transition: all 0.5s;

}
.ServiceItem4Box:hover{
  width: 22.5%;
  height: 100%;
  /* background: #ffffff; */
  display: flex;
  align-items: end;

}

.ServiceItem1BoxWrap{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  /* align-items: end; */
  background: #fff;
  border-radius: 10px;
  border: 1px solid #000;
  box-shadow: rgba(0, 0, 0, 0.298) 0px 5px 15px;
}
.ServiceItem2BoxWrap{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #000;
  box-shadow: rgba(0, 0, 0, 0.298) 0px 5px 15px;
}
.ServiceItem3BoxWrap{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: end;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #000;
  box-shadow: rgba(0, 0, 0, 0.298) 0px 5px 15px;
}
.ServiceItem4BoxWrap{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.298) 0px 5px 15px;
  border: 1px solid #000;
}

.ServiceImgHeaderText{
  width: 100%;
  height: 30%;
  background: #00B4D8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
  color: #fff;
}
.ServiceImgHeaderText h2{
  font-size: 24px;
  font-weight: 400;
}

.MdFlightTakeoff{
  width: 40px;
  height: 40px;
}

.ServicesDetails{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}

.ServicesDetails ul{
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ServicesDetails ul li{
  list-style: none;
  /* background: #00B4D8; */
  border-radius: 5px;
  padding: 5px;
  color: #000;
  border: 1px solid #00B4D8;

}






/* End of Media Query Styling For Desktop Device */

/* Media Query Styling for Tablet Device */

@media only screen and (max-width: 1024px){
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


}

/* End of Media Query Styling for Tablet Device */

/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 428px){
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ServicesBody{
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ServicesWrapper{
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ServicesHeader{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ServicesBox{
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  
}

.ServicesBoxWrap{
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 40px;
  padding-left: 15px;
}

.ServiceItem1Box{
  width: 300px;
  height: 99%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  flex: 0 0 auto;
  transition: all 0.5s;
}
.ServiceItem1Box:hover{
  width: 305px;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  flex: 0 0 auto;
}

.ServiceItem2Box{
  width: 300px;
  height: 99%;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  transition: all 0.5s;

}
.ServiceItem2Box:hover{
  width: 305px;
  height: 100%;
  display: flex;
  align-items: center;
  flex: 0 0 auto;

}
.ServiceItem3Box{
  width: 300px;
  height: 99%;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  transition: all 0.5s;

}
.ServiceItem3Box:hover{
  width: 305px;
  height: 100%;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
 

}
.ServiceItem4Box{
  width: 300px;
  height: 99%;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  transition: all 0.5s;

}
.ServiceItem4Box:hover{
  width: 305px;
  height: 100%;
  display: flex;
  align-items: center;
  flex: 0 0 auto;

}

.ServiceItem1BoxWrap{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.298) 0px 5px 15px;
}
.ServiceItem2BoxWrap{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.298) 0px 5px 15px;
}
.ServiceItem3BoxWrap{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: end;
  border-radius: 10px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.298) 0px 5px 15px;
}
.ServiceItem4BoxWrap{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.298) 0px 5px 15px;
}

.ServiceImgHeaderText{
  width: 100%;
  height: 30%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
  background: #00B4D8;
}
.ServiceImgHeaderText h2{
  font-size: 24px;
  font-weight: 400;
}

.MdFlightTakeoff{
  width: 40px;
  height: 40px;
}

.ServicesDetails{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}

.ServicesDetails ul{
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ServicesDetails ul li{
  list-style: none;
}

}

/* End of Media Query Styling for Mobile Device */