
/* TEMPLATE FOR STYLINGS */

/* Media Query Styling For Desktop Device */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ResetSuccessPwdBody{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00B4D8;
  font-family: 'Kanit', sans-serif;
}

.ResetSuccessPwdWrapper{
  width: 35%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  border-radius: 7px;
  padding: 5px;
}

.ResetSuccessPwdLogo{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ResetSuccessPwdLogo img{
  width: 100px;
  height: 100px;
}

.ResetSuccessPwdContainer{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ResetSuccessPwdContWrap{
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #c3f5f7;
  justify-content: space-around;
  border-radius: 10px;
  padding: 5px 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ResetSuccessPwdContWrap h1{
 width: 100%;
 height: 40%;
 font-size: 25px;
 text-align: center;
 font-weight: 300;
 display: flex;
 align-items: center;
 justify-content: center;
}
.ResetSuccessPwdContWrap p{
 width: 100%;
 height: 40%;
 /* background: #00fff0; */
 font-size: 20px;
 font-weight: 300;
 display: flex;
 align-items: center;
 justify-content: center;
}






/* End of Media Query Styling For Desktop Device */

/* Media Query Styling for Tablet Device */

@media only screen and (max-width: 1024px){
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


}

/* End of Media Query Styling for Tablet Device */

/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 414px){
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


}

/* End of Media Query Styling for Mobile Device */