*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.CocoBody{
  width: 100%;
  height: 200vh;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  border:  solid #000;
  margin-top: 100px;
}

.CocoBodyWrap{
  width: 95%;
  height: 100%;
  background: #fff;
}

.CocoTop{
  width: 100%;
  height: 40%;
  border: 1px solid #000;
}

.CocoTopHeaderText{
  width: 100%;
  height: 7%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.CocoTopImgDiv{
  width: 100%;
  height: 40%;
}
.CocoTop img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.CocoTopTourDetailsDiv{
  height: 50%;
  width: 100%;
  padding: 0 25px;
  
}



.CocoDown{
  width: 100%;
  height: 50%;
  display: flex;
}

.CocoLeft{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CocoRight{
  width: 30%;
  height: 100%;
}


.CocoTourFlightDiv{
  width: 100%;
  height: 33%;
  display: flex;
  position: relative;
  border: 1px solid #000;
}

.CocoTourFlightDivText{
  width: 100%;
  font-size: 16px;
}

.CocoTourFlightDivLeft{
  width: 50%;
  height: 100%;
  display: flex;
  margin: 5px;
}

.CocoTourFlightDivLeftImgDiv{
  width: 40%;
  height: 85%;
  border: 2px solid #94edff;
}

.CocoTourFlightDivLeft img{
  width: 100%;
  height: 100%;
  
}

.CocoTourFlightDivLeftDetailsDiv{
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: capitalize;
  margin: 10px;
}

.CocoTourFlightDivRight{
  width: 50%;
  height: 100%;
  display: flex;
}

.CocoTourFlightDivRightImgDiv{
  width: 40%;
  height: 85%;
  border: 2px solid #94edff;
}

.CocoTourFlightDivRight img{
  width: 100%;
  height: 100%;
  
}

.CocoTourFlightDivRightDetailsDiv{
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;

}

.CocoTourHotelDiv{
  width: 100%;
  height: 33%;
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.CocoTourHotelDivImgDiv{
  width: 40%;
  height: 100%;
}
.CocoTourHotelDivImgDiv img{
  width: 100%;
  height: 100%;

}

.CocoTourHotelDivDetailsDiv{
  width: 60%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-transform: capitalize;
  margin-left: 10px;
}
.CocoTourHotelDivDetailsDiv p{
  width: 90%;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.CocoHotelTourNights{
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.CocoHotelTourNights2{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.CocoTourCarDiv{
  width: 100%;
  height: 33%;
  border: 1px solid #000;

  display: flex;
}

.CocoTourCarDivImgDiv{
  width: 40%;
  height: 100%;

}

.CocoTourCarDivImgDiv img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.CocoTourCarDivDetailsDiv{
  width: 60%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-transform: capitalize;
  margin-left: 10px;
}

.CocoCarNoOfDays{
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
}

.CocoPayment{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.CocoPaymentFigures{
  width: 90%;
  height: 80%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  padding: 15px 0;
}
.CocoPaymentFigures p{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.CocoPaymentActionBtns{
  width: 90%;
  height: 20%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #000;
}
.CocoPaymentActionBtns button{
  width: 130px;
  height: 45px;
  border-radius: 7px;
  cursor: pointer;
}

.CocoPaymentActionBtnsCancel{
  background: rgb(244, 46, 46);
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
}

.CocoPaymentActionBtnsPay{
  background: rgb(12, 202, 123);
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
}

.BookingCartBody{
  width: 100%;
  height: max-content;
  font-family: sans-serif;
}

@media only screen and (max-width: 428px){
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.CocoBody{
  width: 100%;
  height: 290vh;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  border:  solid #000;
  margin-top: 100px;
}

.CocoBodyWrap{
  width: 95%;
  height: 100%;
  background: #fff;
}

.CocoTop{
  width: 100%;
  height: 20%;
  border: 1px solid #000;
}

.CocoTopHeaderText{
  width: 100%;
  height: 7%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.CocoTopImgDiv{
  width: 100%;
  height: 40%;
}
.CocoTop img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.CocoTopTourDetailsDiv{
  height: 60%;
  width: 100%;
  padding: 0 25px;
}

.CocoTopTourDetailsDiv1{
  display: flex;
  width: 100%;
  height: 15%;
  align-items: center;
  justify-content: space-between;
}
.CocoTopTourDetailsDiv2{
  display: flex;
  width: 100%;
  height: 15%;
  align-items: center;
  justify-content: space-between;
}
.CocoTopTourDetailsDiv3{
  display: flex;
  width: 100%;
  height: 15%;
  align-items: center;
  justify-content: space-between;
}
.CocoTopTourDetailsDiv4{
  display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: space-between;
}

.CocoTopTourDetailsDiv4Left{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CocoTopTourDetailsDiv4Right{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.CocoTopTourDetailsDiv5{
  display: flex;
  width: 100%;
  height: 15%;
  align-items: center;
  justify-content: space-between;
}

.CocoDown{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.CocoLeft{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CocoRight{
  width: 100%;
  height: 30%;
}


.CocoTourFlightDiv{
  width: 100%;
  height: 33%;
  display: flex;
  position: relative;
  border: 1px solid #000;
  flex-direction: column;
}

.CocoTourFlightDivText{
  font-size: 20px;
}

.CocoTourFlightDivLeft{
  width: 100%;
  height: 50%;
  display: flex;
  margin: 5px;
}

.CocoTourFlightDivLeftImgDiv{
  width: 40%;
  height: 85%;
  border: 2px solid #94edff;
}

.CocoTourFlightDivLeft img{
  width: 100%;
  height: 100%;
  
}

.CocoTourFlightDivLeftDetailsDiv{
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: capitalize;
  margin: 10px;
  gap: 10px;
}

.CocoTourFlightDivRight{
  width: 100%;
  height: 50%;
  display: flex;
}

.CocoTourFlightDivRightImgDiv{
  width: 40%;
  height: 85%;
  border: 2px solid #94edff;
}

.CocoTourFlightDivRight img{
  width: 100%;
  height: 100%;
  
}

.CocoTourFlightDivRightDetailsDiv{
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  gap: 10px;

}

.CocoTourHotelDiv{
  width: 100%;
  height: 33%;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
}

.CocoTourHotelDivImgDiv{
  width: 100%;
  height: 40%;
}
.CocoTourHotelDivImgDiv img{
  width: 100%;
  height: 100%;

}

.CocoTourHotelDivDetailsDiv{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-transform: capitalize;
  margin-left: 10px;
}

.CocoHotelTourNights{
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.CocoHotelTourNights2{
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.CocoTourCarDiv{
  width: 100%;
  height: 33%;
  border: 1px solid #000;

  display: flex;
  flex-direction: column;
}

.CocoTourCarDivImgDiv{
  width: 100%;
  height: 40%;

}

.CocoTourCarDivImgDiv img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.CocoTourCarDivDetailsDiv{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-transform: capitalize;
  margin-left: 10px;
}

.CocoCarNoOfDays{
  display: flex;
  width: 90%;
  height: auto;
  justify-content: space-between;
  flex-direction: column;
}
.CocoCarNoOfDays p{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.CocoPayment{
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.CocoPaymentFigures{
  width: 90%;
  height: 80%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  padding: 15px 0;
}
.CocoPaymentFigures p{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.CocoPaymentActionBtns{
  width: 90%;
  height: 20%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #000;
}
.CocoPaymentActionBtns button{
  width: 130px;
  height: 45px;
  border-radius: 7px;
  cursor: pointer;
}

.CocoPaymentActionBtnsCancel{
  background: rgb(244, 46, 46);
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
}

.CocoPaymentActionBtnsPay{
  background: rgb(12, 202, 123);
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
}

.BookingCartBody{
  width: 100%;
  height: max-content;
  font-family: sans-serif;
}

}