/* TEMPLATE FOR STYLINGS */

/* Media Query Styling For Desktop Device */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ContiBody{
  width: 100%;
  height: 95vh;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ContiWrapper{
  width: 100%;
  height: 95%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ContiTop{
  width: 85%;
  height: 30%;
}

.ContiHeadetTextDiv{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  color: #00B4D8;
}

.ContiNav{
  width: 100%;
  height: 50%;
  display: flex;
}
.ContiNav ul{
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 60px;
}
.ContiNav ul li{
  width: 20%;
  height: 99%;
  cursor: pointer;
  background: #00B4D8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.5s;
  color: #fff;
}
.ContiNav ul li:hover{
  width: 20.5%;
  height: 100%;
  cursor: pointer;
  background: #2eceee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.ContiNav ul li.active{
  width: 20%;
  height: 99%;
  cursor: pointer;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.5s;
  color: #000;
}

.ContiMore{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.ContiMore p{
  width: 40%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.ContiMore .button{
  width: 12%;
  height: 45%;
}
.ContiMore button{
  width: 99%;
  height:99%;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
  background: #00B4D8;
  border: 1px solid #000;
  transition: all 0.5s;
  color: #fff;
}
.ContiMore button:hover{
  width: 100%;
  height:100%;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
  background: #14caee;
  border: 1px solid #fff;
  color: #000;
}


.ContiDown{
  position: relative;
  width: 95%;
  height: 70%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; 
  scroll-behavior: smooth;
  gap: 40px;
  /* background: #000; */
  padding: 17px 0;
}


.ContiDown::-webkit-scrollbar{
  display: none;
}

.ContiImgBox{
  width: 320px;
  scroll-snap-align: center;
  flex: 0 0 auto;
  user-select: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ContiImgDiv{
  width: 100%;
  height: 60%;
  position: relative;
}

.ContiAddToFav {
  width: 30px;
  height: 30px;
  background: white;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heartIcon {
  color: #00B4D8;
  font-size: 18px;
  cursor: pointer;
}
.ContiImgBox img{
  width: 100%;
  height: 100%;
  user-select: none;
  object-fit: cover;
  border-radius: 5px;

}

.ContiCTA{
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  height: 40%;
  background: #ffffff;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: capitalize;
}
.ContiCTA h3{
  font-size: 22px;
  font-weight: 200;
}
.ContiCTA h4{
  font-size: 16px;
  font-weight: 200;
}

.ContiCTABtnRev{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ContiCTAREV{
  width: 70%;
  display: flex;
  align-items: center;
  font-weight: 200;
}
.ContiCTAREV span{
  margin-left: 10px;
}

.ContiCTABtnRev button{
  width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 16px;
}
.ContiCTABtnRev button:active{
  transform: scale(0.95);
}


/* End of Media Query Styling For Desktop Device */

/* Media Query Styling for Tablet Device */

@media only screen and (max-width: 1024px){
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  


}

/* End of Media Query Styling for Tablet Device */

/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 428px){
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .ContiBody{
    width: 100%;
    height: 80vh;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ContiWrapper{
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .ContiTop{
    width: 85%;
    height: 30%;
  }
  
  .ContiHeadetTextDiv{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
  }
  
  .ContiNav{
    width: 100%;
    height: 25%;
    /* display: flex; */
  }
  .ContiNav ul{
    width: 99%;
    height: 100%;
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 40px;
  }
  .ContiNav ul::-webkit-scrollbar{
    display: none;
  }
  .ContiNav ul li{
    width: max-content;
    height: 100%;
    cursor: pointer;
    background: #ffffff42;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    flex: 0 0 auto;
    user-select: none;
    padding: 0 10%;
  }
  
  .ContiNav ul li.active{
    width: max-content;
    height: 100%;
    cursor: pointer;
    background: #00000042;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  
  
  
  .ContiDown{
    /* position: relative; */
    width: 95%;
    height: 70%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
    scroll-behavior: smooth;
    gap: 20px;
    /* background: #000; */
  }
  
  .ContiDown::-webkit-scrollbar{
    display: none;
  }
  
  .ContiImgBox{
    width: 340px;
    scroll-snap-align: center;
    flex: 0 0 auto;
    user-select: none;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .ContiImgDiv{
    width: 100%;
    height: 60%;
  }
  .ContiImgBox img{
    width: 100%;
    height: 100%;
    user-select: none;
    object-fit: cover;
    border-radius: 5px;
  
  }
  
  .ContiCTA{
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    height: 40%;
    background: #ffffff;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .ContiCTA h3{
    font-size: 22px;
    font-weight: 200;
  }
  .ContiCTA h4{
    font-size: 16px;
    font-weight: 200;
  }
  
  .ContiCTABtnRev{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .ContiCTAREV{
    width: 70%;
    display: flex;
    align-items: center;
    font-weight: 200;
  }
  .ContiCTAREV span{
    margin-left: 10px;
  }
  
  .ContiCTABtnRev button{
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 16px;
  }
  .ContiMore{
    width: 100%;
    height: 20%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .ContiMore p{
    width: 80%;
    height: 50%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
  }
  .ContiMore .button{
    width: 25%;
    height: 45%;
  }

}

/* End of Media Query Styling for Mobile Device */


