*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NewAboutBody{
  width: 100%;
  height: max-content;
  font-family: sans-serif;
}

.NewAboutBodyDiv{
  width: 100%;
  height: 150vh;
  background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.NewABoutContent{
  width: 85%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.NewABoutContentHeaderText{
  width: 100%;
  height: 10%;
  background: lightgoldenrodyellow;
}

.NewABoutContentBoxes{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
}

.NewABoutContent1{
  width: 25%;
  height: 100%;
  background: lightseagreen;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NewABoutContent1 p{
  font-size: 18px;
}

.NewAboutFaqs{
  width: 85%;
  height: 45%;
  background: lightcyan;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Styles for the accordion */

.panel {
  width: 100%;
  border: 1px solid #ccc;
  /* margin: 10px; */
  border-radius: 5px;
  height: 20%;
}

.panel-header {
  width: 100%;
  height: 50%;
  background-color: #f1f1f1;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.panel-content {
  padding: 10px 0px;
  display: none;
  height: auto;
}

/* Show content when panel-header is active */
.panel .panel-content {
  display: block;
}




@media only screen and (max-width: 428px){
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NewABoutContentBoxes{
  width: 100%;
  height: 95%;
  /* background-color: brown; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  /* flex-wrap: nowrap; */
  overflow-x: auto;
  gap: 30px;
  padding-left: 15px;
}
.NewABoutContent1 {
  flex: 0 0 auto;
  width: calc(80% - 30px);
  height: 100%;
  background: lightseagreen;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NewABoutContent1 p{
  font-size: 14px;
}









}