/* 
/* TEMPLATE FOR STYLINGS */

/* Media Query Styling For Desktop Device */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .DescBody{
  width: 100%;
  height: 130vh;
  font-family: 'Kanit', sans-serif;
}

.DescTop{
  width: 100%;
  height: 45%;
  background: #d3d3d3;
  display: flex;
  justify-content: space-between;
}
.DescTop img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.leftarrow{
  width: 5%;
  height: 100%;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
.theleftarrowicon{
  width: 20%;
  height: 50%;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}
.therightarrowicon{
  width: 20%;
  height: 50%;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightarrow{
  width: 5%;
  height: 100%;
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;

}

.DescDown{
  width: 100%;
  height: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DescDownWrap{
  width: 90%;
  height: 100%;
}

.DescDownInitials{
  width: 95%;
  height: 20%;
  display: flex;
  justify-content: space-between;
}

.DescDownHeadText{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

.DescDownHeaderInfo{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.DescDownHeaderInfo span{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DescDownHeaderInfo span h2{
  margin-left: 10px;
}

.DescNav{
  width: 100%;
  height: 10%;
}

.DescNav ul{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 15px;
}
.DescNav ul li{
  width: 15%;
  height: 100%;
  list-style-type: none;
  background: #d4d4d4;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  border-radius: 5px;

}
.DescNav ul li:hover{
  background: #f0f0f0;
  cursor: pointer;
}

.DescBoard{
  width: 100%;
  height: 60%;
}

.DescButtonBook{
  width: 90%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.DescButtonBook button{
  width: 120px;
  height: 50px;
  cursor: pointer;
} */


.DescBody {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.DescBodyWrap{
  width: 85%;
  height: 100%;
}

.DescTop {
  width: 100%;
  height: 50%;
  background: #d3d3d3;
  position: relative;
  display: flex;
  justify-content: space-between;
  /* overflow: hidden; */
}

.DescTop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow {
  width: 5%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.leftarrow,
.rightarrow {
  background-color: transparent;
}

.icon {
  width: 20%;
  height: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DescDown {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DescDownWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.DescDown .DescDownDetails{
  width: 100%;
  height: 80%;
  background: lightblue;
  display: flex;
}

.DescDownDetailsInitials{
  width: 50%;
  height: 100%;
}

.DescDownDetailsInitialsTop{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.DescDownDetailsInitialsTop p{
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.DescDownDetailsInitialsMid{
  width: 100%;
  height: 15%;
}

.DescDownDetailsInitialsMid2{
  width: 100%;
  height: 40%;
  overflow-y: auto;
  margin-bottom: 10px;
}
.DescDownDetailsInitialsMid2::-webkit-scrollbar{
  display: none;
}
.DescDownDetailsInitialsMid2 p{
  width: 100%;
  height: 100%;
  flex: 0 0 auto;
}

.DescDownDetailsInitialsDown{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
}
.DescDownDetailsInitialsDownBox{
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.DescDownDetailsInitialsDown input{
  width: 10%;
  height: 70%;
  font-size: 16px;
  padding-left: 10px;
}
.DescDownDetailsInitialsDown .DescDownDetailsInitialsDownCmt{
  width: 60%;
  height: 70%;
}
.DescDownDetailsInitialsDown button{
  width: 15%;
  height: 70%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  /* background: lightgreen; */
}
.DescDownDetailsInitialsDown button:hover{
  width: 15.5%;
  height: 71%;
  /* background: rgb(159, 242, 159); */
}


.DescDownDetailsCommentSec{
  width: 50%;
  height: 100%;
  background: lightsteelblue;
}

.ReviewContainer{
  width: 100%;
  height: 100%;
}

.ReviewsHeader{
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.ReviewDetOver{
  width: 100%;
  height: 85%;
  overflow-y: auto;
  padding: 10px;
}
.ReviewDetOver::-webkit-scrollbar{
  display: none;
}

.ReviewComment1{
  flex: 0 0 auto;
  width: 100%;
  height: 150px;
  border:1px solid #000;
  margin-bottom: 5px;
  border-radius: 5px;
}

.ReviewComment1Info{
  width: 100%;
  height: 55%;
  display: flex;
  padding: 10px;
  align-items: center;
}

.ReviewComment1Pfp{
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 50px;
  margin-right: 10px;
}
.ReviewComment1Pfp img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.ReviewComment1Text{
  width: 100%;
  height: 45%;
  padding: 10px;
}

.DescButtonBook{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.DescButtonBook button{
  width: 100px;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

/* End of Media Query Styling For Desktop Device */

/* Media Query Styling for Tablet Device */

@media only screen and (max-width: 1024px){
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.DescBody {
  width: 100%;
  height: 200vh;
  font-family: sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.DescBodyWrap{
  width: 95%;
  height: 100%;
}

.DescTop {
  width: 100%;
  height: 30%;
  background: #d3d3d3;
  display: flex;
  justify-content: space-between;
  /* overflow: hidden; */
}

.DescTop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow {
  width: 5%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.leftarrow,
.rightarrow {
  background-color: transparent;
}

.icon {
  width: 20%;
  height: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DescDown {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DescDownWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.DescDown .DescDownDetails{
  width: 100%;
  height: 80%;
  background: lightblue;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.DescDownDetailsInitials{
  width: 100%;
  height: 50%;
}

.DescDownDetailsInitialsTop{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.DescDownDetailsInitialsTop p{
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.DescDownDetailsInitialsMid{
  width: 100%;
  height: 15%;
}

.DescDownDetailsInitialsMid2{
  width: 100%;
  height: 40%;
  overflow-y: auto;
  margin-bottom: 10px;
}
.DescDownDetailsInitialsMid2::-webkit-scrollbar{
  display: none;
}
.DescDownDetailsInitialsMid2 p{
  width: 100%;
  height: 100%;
  flex: 0 0 auto;
}

.DescDownDetailsInitialsDown{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
}
.DescDownDetailsInitialsDownBox{
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.DescDownDetailsInitialsDown input{
  width: 10%;
  height: 70%;
  font-size: 16px;
  padding-left: 10px;
}
.DescDownDetailsInitialsDown .DescDownDetailsInitialsDownCmt{
  width: 60%;
  height: 50%;
}
.DescDownDetailsInitialsDown button{
  width: 15%;
  height: 50%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  /* background: lightgreen; */
}
.DescDownDetailsInitialsDown button:hover{
  width: 15.5%;
  height: 50%;
  /* background: rgb(159, 242, 159); */
}


.DescDownDetailsCommentSec{
  width: 100%;
  height: 50%;
  background: lightsteelblue;
}

.ReviewContainer{
  width: 100%;
  height: 100%;
}

.ReviewsHeader{
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.ReviewDetOver{
  width: 100%;
  height: 85%;
  overflow-y: auto;
  padding: 10px;
}
.ReviewDetOver::-webkit-scrollbar{
  display: none;
}

.ReviewComment1{
  flex: 0 0 auto;
  width: 100%;
  height: 150px;
  border:1px solid #000;
  margin-bottom: 5px;
  border-radius: 5px;
}

.ReviewComment1Info{
  width: 100%;
  height: 55%;
  display: flex;
  padding: 10px;
  align-items: center;
}

.ReviewComment1Pfp{
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 50px;
  margin-right: 10px;
}
.ReviewComment1Pfp img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.ReviewComment1Text{
  width: 100%;
  height: 45%;
  padding: 10px;
}

.DescButtonBook{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.DescButtonBook button{
  width: 120px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}

}

/* End of Media Query Styling for Tablet Device */

/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 428px){
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

}

/* End of Media Query Styling for Mobile Device */ 