
/* TEMPLATE FOR STYLINGS */

/* Media Query Styling For Desktop Device */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.LoginBody{
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: 'Kanit', sans-serif;
}

.LoginBodyTablet{
  width: 100%;
  height: 100vh;
  display: none;
  font-family: 'Kanit', sans-serif;
}

.LoginBodyMobile{
  width: 100%;
  height: 100vh;
  display: none;
  font-family: 'Kanit', sans-serif;
}

.LoginLeft{
  width: 60%;
  height: 100%;
  display: flex;
}

.LoginLeft img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.LoginRight{
  width: 40%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginWrapper{
  width: 80%;
  height: 80%;
  background: #00B4D8;
}

.LoginWrapper h1{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-weight: 600;
}

.InputDivs{
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.EmailDiv{
  width: 90%;
  height: 25%;
  display: flex;
  flex-direction: column;
  /* background: #000; */
}

.EmailDiv label{
  font-size: 30px;
}
.EmailDiv input{
  width: 100%;
  height: 50%;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  font-size: 20px;
}

.PasswordDiv{
  width: 90%;
  height: 25%;
  display: flex;
  flex-direction: column;
  /* background: #000; */
}

.PasswordDiv label{
  font-size: 30px;
}
.PasswordDiv input{
  width: 100%;
  height: 50%;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  font-size: 20px;
}

.ForgetPwd{
  width: 90%;
  text-align: end;
  font-size: 20px;
}

.LoginDiv{
  width: 90%;
  height: 12%;
  /* background: #000; */
}
.LoginDiv button{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
}

.ExploreDiv{
  width: 90%;
  height: 12%;
  margin-top: 20px;
}

.ExploreDiv button{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid #fff;
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
  background: none;
}

.DontAcc{
  font-size: 20px;
}



/* End of Media Query Styling For Desktop Device */

/* Media Query Styling for Tablet Device */

@media only screen and (max-width: 1024px){
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.LoginBodyTablet{
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: 'Kanit', sans-serif;
}
.LoginBody{
  width: 100%;
  height: 100vh;
  display: none;
  font-family: 'Kanit', sans-serif;
}

.LoginBodyMobile{
  width: 100%;
  height: 100vh;
  display: none;
  font-family: 'Kanit', sans-serif;
}

.LoginLeftTablet{
  width: 100%;
  height: 100%;
  display: flex;
}

.LoginLeftTablet img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.LoginRightTablet{
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  background-image: url(../../../assets/LoginImg.jpg);
  align-items: center;
  background-size: cover;
}

.LoginWrapperTablet{
  width: 80%;
  height: 80%;
  background: #ffffffc8;
  border-radius: 10px;
  border: 5px solid #00B4D8;
}

.LoginWrapperTablet h1{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-weight: 600;
}

.InputDivsTablet{
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.EmailDivTablet{
  width: 90%;
  height: 25%;
  display: flex;
  flex-direction: column;
  /* background: #000; */
}

.EmailDivTablet label{
  font-size: 30px;
}
.EmailDivTablet input{
  width: 100%;
  height: 50%;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  font-size: 20px;
}

.PasswordDivTablet{
  width: 90%;
  height: 25%;
  display: flex;
  flex-direction: column;
  /* background: #000; */
}

.PasswordDivTablet label{
  font-size: 30px;
}
.PasswordDivTablet input{
  width: 100%;
  height: 50%;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  font-size: 20px;
}

.ForgetPwdTablet{
  width: 90%;
  text-align: end;
  font-size: 20px;
}

.LoginDivTablet{
  width: 90%;
  height: 12%;
  /* background: #000; */
}
.LoginDivTablet button{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 3px solid #00B4D8;
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
  background-color: #fff;
}

.ExploreDivTablet{
  width: 90%;
  height: 12%;
  margin-top: 20px;
}

.ExploreDivTablet button{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid #fff;
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
  background: #00B4D8;
}

.DontAccTablet{
  font-size: 20px;
}



}

/* End of Media Query Styling for Tablet Device */

/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 428px){
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .LoginBodyTablet{
    width: 100%;
    height: 200vh;
    display: none;
    font-family: 'Kanit', sans-serif;
  }
  .LoginBody{
    width: 100%;
    height: max-content;
    display: none;
    font-family: 'Kanit', sans-serif;
  }
  
  .LoginBodyMobile{
    width: 100%;
    min-height: 100vh;
    display: flex;
    font-family: 'Kanit', sans-serif;
  }
  
  .LoginLeftMobile{
    width: 100%;
    height: 100vh;
    display: flex;
  }
  
  .LoginLeftMobile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .LoginRightMobile{
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    background-image: url(../../../assets/LoginImg.jpg);
    align-items: center;
    background-size: cover;
  }
  
  .LoginWrapperMobile{
    width: 80%;
    height: 80%;
    background: #ffffffc8;
    border-radius: 10px;
    border: 1px solid #00B4D8;
  }
  
  .LoginWrapperMobile h1{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-weight: 400;
  }
  
  .InputDivsMobile{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .EmailDivMobile{
    width: 90%;
    height: 25%;
    display: flex;
    flex-direction: column;
    /* background: #000; */
  }
  
  .EmailDivMobile label{
    font-size: 24px;
  }
  .EmailDivMobile input{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
  }
  
  .PasswordDivMobile{
    width: 90%;
    height: 25%;
    display: flex;
    flex-direction: column;
    /* background: #000; */
  }
  
  .PasswordDivMobile label{
    font-size: 24px;
  }
  .PasswordDivMobile input{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
  }
  
  .ForgetPwdMobile{
    width: 90%;
    text-align: end;
    font-size: 16px;
  }
  
  .LoginDivMobile{
    width: 90%;
    height: 12%;
    /* background: #000; */
  }
  .LoginDivMobile button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #00B4D8;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    background-color: #fff;
  }
  
  .ExploreDivMobile{
    width: 90%;
    height: 12%;
    margin-top: 20px;
  }
  
  .ExploreDivMobile button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #fff;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    background: #00B4D8;
  }
  
  .DontAccMobile{
    font-size: 16px;
  }


}

/* End of Media Query Styling for Mobile Device */