
/* TEMPLATE FOR STYLINGS */

/* Media Query Styling For Desktop Device */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.HeroBody{
  width: 100%;
  height: 70vh;
  background: url(../../assets//HeroBg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.HeroWrapper{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.HeroFade{
  text-align: center;
}

.HeroSearchDivMobile{
  width: 100%;
  height: 510px;
  background: #ffffff;
  display: none;
  flex-direction: column;
  align-items: center;
}

.HeroTexth1{
  width: 100%;
  height: 45%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding-top: 120px;
  
}
.HeroTexth1 h1{
  color: #EFEFEF;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.408px;
}

.HeroSearchDiv{
  width: 100%;
  height: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #000; */
}

.HeroSearchDivWrapper{
  width: 75%;
  height: 80%;
  border-radius: 10px;
  background: #ffffffc9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HeroSearchDivText{
  width: 25%;
  height: 25%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  font-size: 22px;
}
.HeroSearchDivInputs{
  width: 80%;
  height: 30%;
  background: #fff;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.HeroSearchDivInputsNav{
  width: 70%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeroSearchDivInputs input{
  width: 30%;
  height: 100%;
  padding-left: 25px;
  border-radius: 5px;
  /* outline: none; */
  border: none;
  font-size: 22px;
  background: rgb(218, 218, 218);
}

.HeroSearchDivInputsBtnDiv{
  width: 20%;
  height: 65%;
  border-radius: 5px;

  /* background: #000; */
}
.HeroSearchDivInputsBtnDiv button{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #00B4D8;
  color: #fff;
  font-size: 22px;
}



/* End of Media Query Styling For Desktop Device */

/* Media Query Styling for Tablet Device */

@media only screen and (max-width: 1024px){
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.HeroBody{
  width: 100%;
  height: 70vh;
  background: url(../../assets//HeroBg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.HeroWrapper{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.HeroTexth1{
  width: 100%;
  height: 45%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding-top: 130px;
  
}
.HeroTexth1 h1{
  color: #EFEFEF;
  font-size: 75px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.408px;
}

.HeroSearchDiv{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #000; */
}

.HeroSearchDivWrapper{
  width: 75%;
  height: 80%;
  border-radius: 10px;
  background: #ffffffc9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HeroSearchDivText{
  width: 40%;
  height: 20%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
}
.HeroSearchDivInputs{
  width: 80%;
  height: 25%;
  background: #fff;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.HeroSearchDivInputsNav{
  width: 70%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeroSearchDivInputs input{
  width: 30%;
  height: 100%;
  padding-left: 25px;
  border-radius: 5px;
  /* outline: none; */
  border: none;
  font-size: 18px;
  background: rgb(218, 218, 218);
}

.HeroSearchDivInputsBtnDiv{
  width: 20%;
  height: 65%;
  border-radius: 5px;

  /* background: #000; */
}
.HeroSearchDivInputsBtnDiv button{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #00B4D8;
  color: #fff;
  font-size: 18px;
}

}

/* End of Media Query Styling for Tablet Device */

/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 428px){
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.HeroBody{
  width: 100%;
  height: 118vh;
  margin-top: 80px;
}

.HeroWrapper{
  width: 100%;
  height: 50%;
  object-fit: cover;
  background: url(../../assets//home_slider.jpg.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.HeroTexth1{
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  
  
}
.HeroTexth1 h1{
  width: 100%;
  color: #d6d6d6;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.408px;
  text-align: center;
}

.HeroSearchDiv{
  width: 100%;
  height: 40%;
  display: none;
  align-items: center;
  justify-content: center;
  /* background: #000; */
  font-size: 15px;
}

.HeroSearchDivMobile{
  width: 100%;
  height: 510px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.HeroSearchDivMobile h3{
  font-size: 22px;
  font-weight: 400;
  width: 100%;
  height: 15%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HeroSearchDivInputsMobile{
  width: 95%;
  height: 80%;
  /* background: #000; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0;
}
.HeroSearchDivInputsMobile input{
  width: 100%;
  height: 18%;
  border: none;
  background: #dbe0e2;
  padding-left: 10px;
  font-size: 18px;
}
.HeroSearchDivInputsMobile button{
  width: 100%;
  height: 16%;
  border-radius: 30px;
  margin-top: 10px;
  background: #000;
  color: #fff;
  font-size: 22px;
}

}

/* End of Media Query Styling for Mobile Device */