
/* TEMPLATE FOR STYLINGS */

/* Media Query Styling For Desktop Device */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.HeroBody{
  width: 100%;
  height: 70vh;
  background: url(../../assets//HeroBg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.HeroWrapper{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.HeroFade{
  text-align: center;
}

.HeroSearchDivMobile{
  width: 100%;
  height: 510px;
  background: #ffffff;
  display: none;
  flex-direction: column;
  align-items: center;
}

.HeroTexth1{
  width: 100%;
  height: 45%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding-top: 120px;
  
}
.HeroTexth1 h1{
  color: #00B4D8;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.408px;
}

.HeroSearchDiv{
  width: 100%;
  height: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #000; */
}

.HeroSearchDivWrapper{
  width: 75%;
  height: 80%;
  border-radius: 10px;
  background: #ffffffc9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HeroSearchDivText{
  width: 25%;
  height: 25%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  font-size: 22px;
}
.HeroSearchDivInputs{
  width: 80%;
  height: 30%;
  background: #fff;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.HeroSearchDivInputsNav{
  width: 70%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeroSearchDivInputs .SelectTag{
  width: 30%;
  height: 100%;
  padding-left: 10px;
  border-radius: 5px;
  /* outline: none; */
  border: 2px solid #00B4D8;
  font-size: 16px;
  background: rgb(218, 218, 218);
  /* cursor: pointer; */
  color: #000;
}


.HeroSearchDivInputsBtnDiv{
  width: 20%;
  height: 65%;
  border-radius: 5px;

  /* background: #000; */
}
.HeroSearchDivInputsBtnDiv button{
  width: 99%;
  height: 99%;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  background-color: #00B4D8;
  color: #fff;
  font-size: 18px;
  transition: all 0.3s;
}
.HeroSearchDivInputsBtnDiv button:hover{
  width: 100%;
  height: 100%;
  background-color: #20d0f3;
  color: #fff;
  font-size: 18px;
}

.HeroPlayBody {
  width: 100%;
  height: 70vh;
  border: 2px solid #00B4D8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.HeroPlayCard{
  width: 90%;
  height: 90%;
  /* background: lightgoldenrodyellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.HeroPlayCardHead{
  width: 100%;
  height: 10%;
  background: #00B4D8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
}

.HeroPlayCardResults{
  width: 100%;
  height: 88%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 9px;
  background: #00B4D8;
  border-radius: 5px;
}

.HeroPlayCardResults::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #00B4D8;
}

.HeroPlayCardResults::-webkit-scrollbar
{
	width: 10px;
	background-color: #00B4D8;
  border: 1px solid #000;

}

.HeroPlayCardResults::-webkit-scrollbar-thumb
{
	background-color: #fff;
  border: 1px solid #000;

}

.HeroPlayCardItem1{
  width: 99%;
  height: 150px;
  background: #fff;
  flex: 0 0 auto;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 5px;
  border: 2px solid #00B4D8;
}
.HeroPlayCardItem1:hover{
  width: 100%;
  height: 152px;
  background: #d8d8d8;
  flex: 0 0 auto;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
}

.HeroPlayCardImgDiv{
  width: 40%;
  height: 100%;
  background: #e65d5d;
  border-radius: 5px;
}
.HeroPlayCardImgDiv img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.HeroPlayCardDetailsDiv{
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.HeroPlayCardDetails1{
  width: 100%;
  height: 20%;
  background: #00B4D8;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 5px;
  color: #fff;
}
.HeroPlayCardDetails2{
  width: 100%;
  height: 20%;
  background: #00B4D8;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 5px;
  justify-content: space-between;
  color: #fff;

}
.HeroPlayCardDetails3{
  width: 100%;
  height: 20%;
  background: #00B4D8;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 5px;
  color: #fff;

}
.HeroPlayCardDetails4{
  width: 100%;
  height: 30%;
  background: #00B4D8;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 5px;
}




/* End of Media Query Styling For Desktop Device */

/* Media Query Styling for Tablet Device */

@media only screen and (max-width: 1024px){
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.HeroBody{
  width: 100%;
  height: 70vh;
  background: url(../../assets//HeroBg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.HeroWrapper{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.HeroTexth1{
  width: 100%;
  height: 45%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding-top: 130px;
  
}
.HeroTexth1 h1{
  color: #EFEFEF;
  font-size: 75px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.408px;
}

.HeroSearchDiv{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #000; */
}

.HeroSearchDivWrapper{
  width: 75%;
  height: 80%;
  border-radius: 10px;
  background: #ffffffc9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HeroSearchDivText{
  width: 40%;
  height: 20%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
}
.HeroSearchDivInputs{
  width: 80%;
  height: 25%;
  background: #fff;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.HeroSearchDivInputsNav{
  width: 70%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeroSearchDivInputs input{
  width: 30%;
  height: 100%;
  padding-left: 25px;
  border-radius: 5px;
  /* outline: none; */
  border: none;
  font-size: 18px;
  background: rgb(218, 218, 218);
}

.HeroSearchDivInputsBtnDiv{
  width: 20%;
  height: 65%;
  border-radius: 5px;

  /* background: #000; */
}
.HeroSearchDivInputsBtnDiv button{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #00B4D8;
  color: #fff;
  font-size: 18px;
}

}

/* End of Media Query Styling for Tablet Device */

/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 428px){
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.HeroBody{
  width: 100%;
  height: 118vh;
  margin-top: 80px;
}

.HeroWrapper{
  width: 100%;
  height: 50%;
  object-fit: cover;
  background: url(../../assets//home_slider.jpg.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.HeroTexth1{
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  
  
}
.HeroTexth1 h1{
  width: 100%;
  color: #d6d6d6;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.408px;
  text-align: center;
}

.HeroSearchDiv{
  width: 100%;
  height: 40%;
  display: none;
  align-items: center;
  justify-content: center;
  /* background: #000; */
  font-size: 15px;
}

.HeroSearchDivMobile{
  width: 100%;
  height: 510px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.HeroSearchDivMobile h3{
  font-size: 22px;
  font-weight: 400;
  width: 100%;
  height: 15%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HeroSearchDivInputsMobile{
  width: 95%;
  height: 80%;
  /* background: #000; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px 0;
}
.HeroSearchDivInputsMobile .HeroSearchDivInputsNav{
  width: 100%;
  height: 70%;
  border: none;
  background: #dbe0e2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.HeroSearchDivInputsMobile .HeroSearchDivInputsNav .SelectTag{
  width: 100%;
  height: 20%;
  border: 1px solid #000;
  background: #b1ccd7;
  border-radius: 15px;
  padding-left: 10px;
}

.HeroSearchDivInputsMobile button{
  width: 100%;
  height: 15%;
  border-radius: 30px;
  margin-top: 10px;
  background: #000;
  color: #fff;
  font-size: 22px;
}

}

/* End of Media Query Styling for Mobile Device */