@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.HeaderBody{
  width: 100%;
  height: 75px;
  display: flex;
  font-family: 'Kanit', sans-serif;
  background: #fff;
  display: flex;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
}

.HeaderWrapper{
  width: 90%;
  height: 100%;
  /* background: #000; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeaderLogoDiv{
  width: 10%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: grey; */
}

.HeaderLogoDiv img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.HeaderNavDiv{
  width: 30%;
  height: 80%;
  /* background: grey; */
}
.HeaderNavDiv nav{
  width: 100%;
  height: 100%;
}
.HeaderNavDiv nav ul{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  font-size: 20px;
}
.HeaderNavDiv nav ul li{
  cursor: pointer;
}
.HeaderNavDiv nav ul li:hover{
  cursor: pointer;
  color: #00000059;
  transition:0.5s ease-out;
}

.HeaderAccDiv{
  width: 8%;
  height: 100%;
  /* background: #000; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.NoUserCircle{
  width: 45px;
  height: 45px;
  background: red;
  border-radius: 50%;
  cursor: pointer;
}

.UserCircle{
  width: 45px;
  height: 45px;
  background: rgb(0, 255, 136);
  border-radius: 50%;
  cursor: pointer;
}

.UserDropDown{
  width: 150px;
  height: 150px;
  background: #fff;
  position: absolute;
  right: 60px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
.LinkTag{
  width: 100%;
  height: 50%;
}
.UserDropDown button{
  width: 100%;
  height: 100%;
  font-size: 18px;
  cursor: pointer;
}

.UserDropDown:hover{
  transition: 1ms ease-in;
}