*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NewFlightBody{
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 20px;
  font-family: sans-serif;
}

.NewFlightHead{
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NewFlightContent{
  width: 60%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.NewFlightContent2{
  width: 85%;
  height: 30%;
  background: lightgrey;
}

.NewFlightSelectDiv {
  width: 100%;
  height: 100%;
}

.NewFlightSelects {
  width: 100%;
  height: 50%;
  background: lightgrey;
  display: flex;

  align-items: center;
}

.NewFlightSelectsDiv {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.NewFlightSelectsBtn {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NewFlightFlightResults {
  width: 100%;
  height: 60%;
  background: lightskyblue;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  padding: 5px;
}

.NewFlightResults::-webkit-scrollbar {
  display: none;
}

.NewFlightResultsItem1 {
  width: 100%;
  height: 150px;
  background: lightcoral;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
  border-radius: 5px;
}

.NewFlightResultsItem1ImgDiv {
  width: 20%;
  height: 100%;
  background: lightyellow;
}

.NewFlightResultsItem1ImgDiv img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.NewFlightResultsItem1Details {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.NewFlightResultsItem1Btn {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InitialNoresult {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



@media only screen and (max-width: 428px){
 *{
  margin: 0;
  padding: 0;
 }





}
