*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NewFlightBody{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.NewFlightHead{
  width: 80%;
  height: 10%;
  background: green;
  display: flex;
  align-items: center;
}

.NewFlightContent{
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.NewFlightContentInput{
  width: 100%;
  height: 15%;
  background: #bd8f8f;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.NewFlightContentInput select{
  width: 35%;
  height: 60%;
  font-size: 16px;
}

.NewFlightContentInput button{
  width: 20%;
  height: 60%;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.NewFlightContentInput button:hover{
  outline: none;
  background: #e4e4e4;
}

.NewFlightContentResults{
  width: 100%;
  height: 80%;
  background: grey;
  border-radius: 10px;
  padding: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  gap: 20px;
  -webkit-overflow-scrolling: touch; 
  scroll-behavior: smooth;
}
.NewFlightContentResults::-webkit-scrollbar{
  display: none;
}

.NewFlightResultItem1{
  width: 90%;
  height: 180px;
  border-radius: 5px;
  border: 1px solid #000;
  display: flex;
  flex: 0 0 auto;
}

.NewFlightResultItem1Left{
  width: 70%;
  height: 100%;
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: space-around;
  border-right: 1px solid #000;
}

.NewFlightResultItem1ImgDiv{
  width: 30%;
  height:100%;
  background: #000;
  border-radius: 5px;
}
.NewFlightResultItem1ImgDiv img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.NewFlightResultItem1Right{
  width: 30%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NewFlightResultItem1RightTop{
  width: 100%;
  height: 70%;
}

.NewFlightResultItem1RightDown{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NewFlightResultItem1Right button{
 width: 70%;
 height: 90%;
 cursor: pointer;
 border: none;
 border-radius: 7px;
 font-size: 16px;
}
.NewFlightResultItem1Right button:hover{
 background: #e5e0e0;
 cursor: pointer;
}

.NewFlightBody .CancelSearchBtn{
  width: 150px;
  height: 45px;
  cursor: pointer;
  font-size: 16px;
  background: rgb(191, 45, 45);
  border-radius: 5px;
  border: none;
  color: #fff;
}
.NewFlightBody .CancelSearchBtn:hover{
  background-color: red;
}

@media only screen and (max-width: 428px){
 *{
  margin: 0;
  padding: 0;
 }

 .NewFlightBody{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 120px;
}

.NewFlightHead{
  width: 80%;
  height: 10%;
  background: green;
  display: flex;
  align-items: center;
}

.NewFlightContent{
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.NewFlightContentInput{
  width: 100%;
  height: 15%;
  background: #bd8f8f;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.NewFlightContentInput select{
  width: 35%;
  height: 60%;
  font-size: 16px;
}

.NewFlightContentInput button{
  width: 20%;
  height: 60%;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.NewFlightContentInput button:hover{
  outline: none;
  background: #e4e4e4;
}

.NewFlightContentResults{
  width: 100%;
  height: 80%;
  background: grey;
  border-radius: 10px;
  padding: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  gap: 20px;
  -webkit-overflow-scrolling: touch; 
  scroll-behavior: smooth;
}
.NewFlightContentResults::-webkit-scrollbar{
  display: none;
}

.NewFlightResultItem1{
  width: 90%;
  height: 180px;
  border-radius: 5px;
  border: 1px solid #000;
  display: flex;
  flex: 0 0 auto;
}

.NewFlightResultItem1Left{
  width: 70%;
  height: 100%;
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: space-around;
  border-right: 1px solid #000;
}

.NewFlightResultItem1ImgDiv{
  width: 30%;
  height:100%;
  background: #000;
  border-radius: 5px;
}
.NewFlightResultItem1ImgDiv img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.NewFlightResultItem1Right{
  width: 30%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NewFlightResultItem1RightTop{
  width: 100%;
  height: 70%;
}

.NewFlightResultItem1RightDown{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NewFlightResultItem1Right button{
 width: 70%;
 height: 90%;
 cursor: pointer;
 border: none;
 border-radius: 7px;
 font-size: 16px;
}
.NewFlightResultItem1Right button:hover{
 background: #e5e0e0;
 cursor: pointer;
}

.NewFlightBody .CancelSearchBtn{
  width: 150px;
  height: 45px;
  cursor: pointer;
  font-size: 16px;
  background: rgb(191, 45, 45);
  border-radius: 5px;
  border: none;
  color: #fff;
}
.NewFlightBody .CancelSearchBtn:hover{
  background-color: red;
}

}
